<launch>

<rosparam file="$(find 4WD_description)/launch/controller.yaml" command="load"/>
<node args="Rev23_position_controller Rev24_position_controller Rev25_position_controller Rev26_position_controller joint_state_controller " name="controller_spawner" ns="4WD" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/4WD/joint_states"/>
</node>

</launch>